@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: navy;
}

.dark {
  --background: rgb(36, 36, 36);
  --foreground: #ffffff;
  --accent: rgb(110, 110, 255);
}

body {
  background: var(--background);
  color: var(--foreground);
}
